
// colors

// base
$mainGreen : #1F8940;
$lightGreen : #8BCD32;
$darkGreen : #028940;
$white : #FFFFFF;

// accent
$accentYellow : #FFC20D;


// text and link
$textColor : #454545;

// others
$weak : #CDCDCD;

// media query mixin

