@charset "UTF-8";

.c-cardList{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 20px auto;
}
.c-card{
  $root : &;
  width: 100%;
  max-width: 330px;
  padding: 12px 24px;
  box-shadow: 1px 1px 4px -1px #444;

  @include mq(sp){
    &:not(:last-of-type){
      margin-bottom: 20px;
    }
  }
  @include mq(tablet){
    &:nth-of-type(odd){
      margin-right: 20px;
    }
    &:nth-of-type(n+3){
      margin-top: 20px;
    }
  }
  @include mq(pc-wrap){
    &:not(:last-of-type){
      margin-right: 30px;
    }
  }
  // &.-no-image{
  //   #{$root}__imageWrap{
  //     display: none;
  //   }
  // }
  &__imageWrap{
    position: relative;
    width: 100%;
    max-width: 200px;
    min-height: 90px;
    margin: 10px auto 0;
    img{
      position: absolute;
      bottom: 50%;
      right: 50%;
      transform: translate(50%,50%);
      width: 60%;
    }
    @include mq(){
      min-height: 120px;
    }
  }

  // elements
  &__title{
    text-align: center;
    min-height: 2.5em;
  }
  &__props{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  &__prop-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    padding-top: 1em;
    font-size: 14px;
    text-align: center;

    @include mq(){
      font-size: 16px;
    }
    &::before{
      content: "";
      display: block;
      background-repeat: no-repeat;
      background-size: contain;
      width: 48px;
      height: 48px;
      margin:0 auto 0.5em;
    }
    &.-price::before{
      background-image: url(#{$icons}/icon-bread.svg);
    }
    &.-carbohydrate::before{
      background-image: url(#{$icons}/icon-sugar.svg);
    }
    &.-kcal::before{
      background-image: url(#{$icons}/icon-kcal.svg);
    }
  }
}